<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>Scratch</string>
		<string>SprintGoals</string>
		<string>Main</string>
		<string>MainMenu</string>
		<string>Game</string>
		<string>InGameUI</string>
		<string>InvokerAndCommands</string>
		<string>TurnSystem</string>
		<string>Unit_and_Manager</string>
		<string>SaveManager</string>
		<string>Map</string>
		<string>AIPlayer</string>
		<string>Player</string>
		<string>Credit</string>
		<string>RoundedRect</string>
	</array>
	<key>Dependencies</key>
	<array>
		<string>Craft:Cameras</string>
	</array>
</dict>
</plist>
